
.Task {
    display: flex;
    align-items: center;

    font-weight: normal;
    font-size: 1.6rem;
    
    padding: 1.2rem 2rem;


    &:nth-child(2n) {
        background-color: #F5D3F360;
    }

    &--checked &__img{
        opacity: 1;
    }

    &__checkbox {
        display: flex;

        width: 2rem;
        height: 2rem;
        box-sizing: border-box;
        border: 1.5px solid #000;
    }

    &__img {
        width: 1.5rem;
        height: auto;
        margin: auto auto;
        opacity: 0;
    }

    &__text {
        margin-left: 1.1rem;

    }
}